.clan__content {
	display: none;
	justify-content: space-between;
	margin-top: 60px;

	&.active {
		display: flex;

		@media($media_md) {
			display: block;
			margin-top: 35px;
			padding: 0 10px;
		}

		@media($media_md2) {
			margin: 0;
			padding: 0;
		}
	}
}

// war
.war {
	text-align: center;
}

.war__header {
	background: $red__light2;
	border-radius: 15px;
	padding: 20px 65px;
	margin-bottom: 15px;

	@media($media_md) {
		padding: 20px;
	}
}

.war__title,
.war__subtitle {
	color: $white;
}

.war__title {
	@include font('sf-ui', 700);
	font-size: 45px;

	@media($media_lg) {
		font-size: 40px;
	}

	@media($media_md2) {
		font-size: 25px;
	}
}

.war__subtitle {
	@include font('sf-ui', 600);
	font-size: 20px;
	margin-top: 10px;

	@media($media_lg) {
		font-size: 17px;
	}

	@media($media_md2) {
		font-size: 14px;
	}
}

.war__players-number {
	@include font('sf-ui', 500);
	font-size: 14px;
	color: $red;

	margin-bottom: 35px;
}

// config
.war__config {
	background: $gray_light;
	border-radius: 20px;
	overflow: hidden;

	@media($media_md2) {
		display: none;
	}
}

.config__header {
	background: rgba($red, 0.4);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px 88px 8px 100px;

	@media($media_lg2) {
		padding: 8px;
	}
}

.config__btn {
	position: relative;
	font-size: 14px;
	color: $white;

	&.active {
		border-bottom: 2px solid $white;
		padding-bottom: 5px;
		transform: translateY(2px);

		&:before {
			content: '';
			position: absolute;
			background: $white;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			top: 50%-7;
			transform: translateY(-50%);
			left: -12px;
		}
	}
}

.config__menu {
	cursor: pointer;
}

.config__header-item {
	flex-basis: 33.3333%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.config__menu-item {
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: $gray_light;
	margin-bottom: 2.5px;

	&:last-child {
		margin-bottom: 0;
	}
}

// config__content
.config__content {
	padding: 40px 0 75px;
}

.config__title {
	@include font('sf-ui', 600);
	color: $red;
	font-size: 20px;

	margin-bottom: 15px;
}

.config__item {
	width: 70%;
	margin: 0 auto 35px;

	@include font('sf-ui', 500);
	text-align: left;
	font-size: 14px;

	&--2 {
		margin-bottom: 50px;
		width: 65%;
	}

	p {
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

// sidebar
.sidebar {
	margin-left: 35px;

	@media($media_xl) {
		margin-left: 15px;
	}

	@media($media_md2) {
		margin: 0;
	}
}

.sidebar__item {
	@include font('sf-ui', 500);

	background: #FFF2F2;
	box-shadow: 0px 4px 10px rgba(128, 128, 128, 0.2);
	border-radius: 15px;
}

.sidebar--history {
	padding: 27px 20px 20px;
	margin-bottom: 15px;
}

.sidebar--points {
	padding: 15px 20px;
	display: flex;
	justify-content: space-between;

	margin-bottom: 50px;
}

.sidebar__title {
	@include font('sf-ui', 500);
	font-size: 16px;
	color: $black2;

	&--rating {
		padding-bottom: 15px;
		margin: 0 0 20px 20px;
		border-bottom: 1.5px solid rgba($gray, 0.2);
	}
}

.history__content {
	margin-top: 35px;
	display: flex;
	justify-content: space-between;
}

.history__item {
	display: flex;
	align-items: center;

	@include font('sf-ui', 500);
	color: $gray;
	font-size: 14px;

	&--smile {
		border-right: 2px solid $white;
		padding-right: 40px;
		margin-right: 20px;
	}
}

.history__svg {
	width: 43px;
	height: 43px;
	margin-right: 12px;
}

.history__number {
	color: $red;
	font-size: 16px;
}

// rating
.sidebar__rating {
	background: $white;
	box-shadow: 0px 4px 15px rgba($gray, 0.2);
	border-radius: 10px;
	padding-top: 20px;

	@media($media_md2) {
		display: none;
	}
}

.rating__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
	padding: 0 20px;
}

.rating__item-text {
	@include font('sf-ui', 600);
	font-size: 16px;
	color: $gray;

	flex-basis: 70%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.rating__img-block {
	width: 35px;
	height: 35px;
	overflow: hidden;
	border-radius: 50%;
}

.rating__img {
	width: 100%;
	height: 100%;
}

.rating__number {
	@include font('sf-ui', 500);
	color: $black2;
	font-size: 14px;
}

.rating__profile {
	background: #FFF2F2;
	border-radius: 10px;
	padding: 14px 20px;
	margin: 20px 0 0 0;
}

.modal-clan__time {
	color: rgba($gray, .6);
	font-size: 40px;
	margin-bottom: 35px;
}

.modal-clan__willingless {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	font-size: 20px;
	margin-bottom: 10px;
}

.willingles__text {
	color: $black2;
}

.willingles__number {
	color: $gray;
}


// team
.modal-clan__team {
	width: 100%;
	background: $white;
	box-shadow: 0px 4px 15px rgba($gray, .2);
	border-radius: 10px;
	padding: 20px 15px;
}

.team__my-team {
	font-size: 16px;
	color: $black2;
	text-align: left;
	margin-bottom: 15px;

	&--hidden {
		color: $red;
		font-size: 14px;
		margin-bottom: 0;
	}

	.black-line {
		color: $black;
	}

	.team__my-team__span {
		color: $gray;
	}
}

.team__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}

.team__inner {
	display: flex;
	align-items: center;
}

.team__svg {
	width: 20px;
	height: 20px;

	&--margin {
		margin-right: 20px;

		&:last-child {
			margin: 0;
		}
	}
}

.team__img {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 10px;
}


.team__number {
	margin-right: 10px;
	font-size: 16px;
}

// task
.clan__task {
	margin-left: 35px;
	background: $white;
	box-shadow: 0px 4px 20px rgba(128, 128, 128, 0.2);
	border-radius: 20px;
	padding: 15px 25px;
	color: $black2;

	@media($media_xl) {
		margin-left: 10px;
		padding: 15px;
	}

	@media($media_md2) {
		border-radius: 0;
		box-shadow: 0;
		margin: 0;
		padding: 0;
	}
}

.clan-task__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 50px;

	@media($media_md2) {
		flex-direction: row;
		justify-content: space-between;
		padding: 25px;
	}

	@media($media_sm) {
		background: #FFCCCC;
		padding: 25px 15px;
	}
}

.clan-task__counters {
	margin-bottom: 20px;
	display: flex;
	align-items: center;

	@media($media_md2) {
		margin: 0;
	}

	@media($media_xs) {
		font-size: 14px;
	}
}

.clan-task__time {
	margin-right: 35px;
	display: flex;
	align-items: center;

	@media($media_md2) {
		margin-right: 5px;
	}
}

.clan-task__svg {
	width: 25px;
	height: 25px;
	margin-right: 10px;

	@media($media_xs) {
		width: 20px;
		height: 20px;
	}
}

.clan-task__time-left {
	color: $red;
}

.clan-task__rounds {
	display: flex;
	align-items: center;
}

.clan-task__round {
	width: 15px;
	height: 15px;
	margin-right: 10px;
	border-radius: 50%;
	background: rgba($gray, .2);

	@media($media_md2) {
		background: rgba($white, .5);
	}

	@media($media_sm2) {
		width: 8px;
		height: 8px;
		margin-right: 7px;
	}

	&:last-child {
		margin-right: 0;
	}

	&.right {
		background: $red;
	}

	&.wrong {
		background: $black2;
	}
}

.clan-task__content {
	@include font('sf-ui', 500);
	max-height: 630px;
	overflow: auto;

	@media($media_md2) {
		padding: 0 15px;
	}
}

.clan-task__p {
	border-bottom: 2px solid $black2;
	width: 130px;
	display: block;
	margin: 0 10px;
	display: flex;
	justify-content: flex-end;

	position: relative;

	cursor: pointer;
}

.clan-task__choose {
	position: absolute;
	right: 0;
	bottom: -90px;
	z-index: 10;
	width: 130px;
	display: none;
	background: #F1F1F1;
	box-shadow: 0px 4px 5px rgba(170, 170, 170, 0.2);
	border-radius: 5px;

	&.active {
		display: block;
	}

	span {
		display: block;
		padding: 5px 10px;
	}

	span:hover {
		background: rgba($red, .2);
	}
}

.clan-task__item {
	display: flex;
	align-items: center;
	margin-bottom: 18px;

	&:last-child {
		margin-bottom: 0;
	}
}

.clan-task__item-svg {
	width: 12px;
	height: 12px;
	fill: $red;
}

.clan-task__title,
.clan-task__task-name {
	@include font('sf-ui', 600);
	font-size: 18px;
}

.clan-task__task-name {
	margin: 20px 0 35px;
}

.clan-task__red-text {
	color: $red;
}

.clan__team--hidden {
	display: none;

	@media($media_md2) {
		display: block;
	}
}

.red-btn--clan-hidden {
	margin-bottom: 40px;
}

.modal-clan__team-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15px;

	font-size: 14px;
}

.red-text {
	color: $red;
}