.merch__content {
	display: none;

	&.active {
		display: block;
	}
}

.merch__block {
	margin-top: 50px;
}

.popular__content {
	display: flex;
	justify-content: space-between;

	@media($media_md2) {
		display: none;

		&.active {
			display: block;
		}
	}
}

.shop__title {
	@include font('sf-ui', 600);
	font-size: 20px;

	&--order {
		margin-bottom: 25px;
	}

	&--payment {
		margin-bottom: 15px;
	}

	&--merch {
		@media($media_md2) {
			display: none;
		}
	}
}

.merch__item {
	background: $white;
	box-shadow: 0px 4px 10px rgba(128, 128, 128, 0.2);
	border-radius: 15px;
	overflow: hidden;

	cursor: pointer;
}

.popular__item {
	padding: 15px;
	margin-right: 15px;

	flex-basis: 31%;

	display: flex;
	justify-content: space-between;

	@media(min-width: 700px) {
		&:last-child {
			margin-right: 0;
		}
	}

	@media($media_md) {
		flex-basis: 32%;
	}

	@media($media_md2) {
		width: 50%;
		margin: 0 auto 10px auto;
	}

	@media($media_xs) {
		width: 70%;
	}
}

.popular__item-text {
	margin-right: 15px;
}

.popular__item-title {
	@include font('sf-ui', 500);
	font-size: 12px;

	margin-bottom: 10px;
}

.popular__item-img {
	width: 40px;
	height: 50px;
}

.merch__item-price {
	@include font('sf-ui', 600);
	font-size: 12px;

	display: flex;
	align-items: center;

	&--order {
		@include font('sf-ui', 700);
		font-size: 16px;
	}
}

.merch__svg {
	width: 15px;
	height: 15px;

	margin-right: 6px;
}

// hoodie
.hoodie__content {
	display: flex;
	justify-content: space-between;

	@media($media_md2) {
		display: none;

		&.active {
			display: block;
		}
	}
}

.shop__more-inner {
	display: flex;
	justify-content: space-between;

	margin-bottom: 20px;
}

.shop__more {
	@include font('sf-ui', 500);
	font-size: 12px;
	color: $gray;

	cursor: pointer;

	&--merch {
		@media($media_md2) {
			display: none;
		}
	}
}

.hoodie__price {
	@include font('sf-ui', 600);
	font-size: 12px;
	background: rgba($red, .8);
	color: $white;

	border-top-left-radius: 15px;
	border-bottom-right-radius: 15px;
	display: inline-block;
	padding: 6px 15px;
}

.hoodie__item {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-basis: 32%;

	padding: 42px 0 25px;

	@media($media_md2) {
		width: 50%;
		margin: 0 auto 10px;
	}

	@media($media_xs) {
		width: 70%;
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;
		background: rgba($gray, .1);
		border: 1.5px solid rgba($red, .8);
		border-radius: 15px;
		opacity: 0;

		transition: opacity .3s;
		cursor: pointer;
	}

	&:hover {
		&:before {
			opacity: 1;
		}

		.hoodie__hover-text {
			opacity: 1;
		}
	}
}

.hoodie__hover-text {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	z-index: 4;

	display: flex;
	align-items: center;
	background: $white;
	box-shadow: 0px 4px 10px rgba(164, 164, 164, 0.2);
	border-radius: 10px;
	opacity: 0;
	padding: 10px 20px;

	transition: opacity .3s;
	cursor: pointer;
}

.hoodie__price {
	position: absolute;
	top: 0;
	left: 0;
}

.hoodie__title {
	@include font('sf-ui', 500);
	font-size: 14px;
	text-align: center;
	margin-top: 15px;
}

.hoodie__svg {
	transform: rotate(-90deg);
	width: 12px;
	height: 12px;

	margin-left: 5px;
}

.merch__categories {
	display: none;
	align-items: center;
	padding: 0 0 0 35px;
	max-width: 100vw;
	height: 35px;
	overflow-x: auto;

	&--promotion {
		margin-bottom: 20px;
	}

	@media($media_md2) {
		display: flex;
	}
}

.categories__item {
	position: relative;
	font-size: 20px;
	text-align: left;
	margin-right: 25px;
	white-space: nowrap;

	&.active {
		border-bottom: 2px solid $red;
		padding-bottom: 5px;
		transform: translateY(2px);

		&:before {
			content: '';
			position: absolute;
			background: $red;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			top: 50%-7;
			transform: translateY(-50%);
			left: -12px;
		}
	}
}