// modal
.modal {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: -5;
	top: 0;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(128, 128, 128, 0.1);

	opacity: 0;
	transition: opacity .5s;

	&.active {
		opacity: 1;
		z-index: 100;
	}


	&--final-result {
		padding: 20px 0;

		&.active {
			opacity: 1;
			z-index: 100;
		}
	}

	&--about.active {
		opacity: 1;
		z-index: 100;
	}

	&--clan {
		@include font('sf-ui', 600);
	}

	&--fullscreen {
		&.active {
			opacity: 1;
			z-index: 100;
		}

		@media($media_sm) {
			display: none !important;
		}
	}
}

.modal__content {
	display: flex;
	background: $white;
	overflow-y: auto;
	max-height: 90%;

	/* width */
	&::-webkit-scrollbar {
		width: 10px;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: rgba(128, 128, 128, 0.1);
		border-radius: 50px;
	}

	&--clan {
		padding: 35px;
		box-shadow: 0px 4px 20px rgba(128, 128, 128, 0.2);
		border-radius: 15px;
		max-width: 470px;
		width: 100%;

		align-items: center;
		flex-direction: column;
		font-size: 12px;

		position: relative;
	}

	@media($media_md2) {
		max-height: 100%;
	}
}

.modal--fullscreen__content {
	justify-content: space-between;
	width: 90%;
	height: 90%;
	padding: 70px 25px;
	box-shadow: 0px 4px 20px rgba(128, 128, 128, 0.2);
	border-radius: 20px;

	@media($media_lg2) {
		display: block;
		padding: 10px 25px;
	}

	.lessons__talk {
		flex-grow: 1;
		height: auto;
		max-height: 95vh;

		@media($media_xxl) {
			height: 90%;
		}

		@media($media_lg2) {
			height: auto;
			margin-bottom: 30px;
		}
	}

	.talk__svg {
		width: 30px;
		height: 30px;
		margin: 0;
	}

	.talk__svg-btn {
		margin-bottom: 25px;
		display: block;
	}

	.members__item {
		width: 178px;
		height: 97px;

		@media($media_lg) {
			width: 130px;
			height: 60px;
		}

		.member__img {
			width: 100%;
			height: auto;

			&--png {
				width: 50px;
				height: 50px;
			}
		}
	}

	.talk__members {

		&:before,
		&:after {
			width: 25px;
			height: 25px;
		}
	}

	.messages__content {
		height: 100%;
		text-align: left;

		@media($media_lg) {
			width: 400px;
		}
	}
}

// modal--final-result
.modal--final-result__content {
	padding: 20px 35px;
	box-shadow: 0px 4px 20px rgba(128, 128, 128, 0.2);
	border-radius: 15px;
	max-width: 650px;
	width: 100%;

	align-items: center;
	flex-direction: column;
	font-size: 14px;

	position: relative;

	&--teacher {
		align-items: flex-start;
	}

	@media($media_md) {
		padding: 20px;
	}
}

.modal__close {
	width: 15px;
	height: 15px;
	position: absolute;
	top: 25px;
	right: 30px;
	cursor: pointer;
}

.modal--final-result__inner-title {
	display: flex;
	margin: 0 0 20px 15px;
}

.modal--final-result__title {
	@include font('sf-ui', 600);
	margin: 0 auto 15px;

	max-width: 200px;

	font-size: 20px;

	&--modified {
		@include font('sf-ui', 700);

		border-bottom: 2px solid $red;
		padding-bottom: 5px;
		margin-bottom: 0;
		position: relative;
		max-width: none;

		&:before {
			content: '';
			position: absolute;
			background: $red;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			top: 50%-7;
			transform: translateY(-50%);
			left: -15px;
		}
	}

	&--teacher {
		margin-bottom: 80px;
	}
}

.modal--final-result__stars-item {
	width: 35px;
	height: 35px;

	cursor: pointer;

	margin-right: 35px;

	&:last-child {
		margin-right: 0;
	}

	&.inactive {
		.star__path1 {
			fill: rgba(128, 128, 128, 0.5);
		}

		.star__path2 {
			fill: rgba(163, 163, 163, 0.5);
		}
	}

	&--small {
		width: 17px;
		height: 17px;
		margin-right: 15px;

		cursor: pointer;

		&:last-child {
			margin-right: 0;
		}


		&.inactive {
			.star__path1 {
				fill: rgba(128, 128, 128, 0.5);
			}

			.star__path2 {
				fill: rgba(163, 163, 163, 0.5);
			}
		}

		@media($media_md2) {
			margin-right: 5px;
		}
	}
}

.modal--final-result__reached {
	margin-top: 35px;
}

.modal--final-result__p {
	display: flex;
	align-items: center;

	margin-bottom: 15px;
}

.modal--final-result__comment {
	margin-left: 5px;
}

.modal--final-svg {
	width: 25px;
	height: 25px;
}

.modal--final-svg2 {
	width: 35px;
	height: 35px;
	fill-opacity: 0.5;

	&.active {
		fill-opacity: 1;
	}
}

.modal--final-result__content-left {
	width: 100%;

	display: flex;
	flex-direction: column;
}

.modal--final-result__item {
	margin-top: 35px;
}

.modal--final-result__progress {
	width: 100%;
	border-bottom: 2px solid $gray_light;
	padding-bottom: 35px;
}

.modal--final-result__inner {
	display: flex;
	justify-content: space-between;

	&--center {
		justify-content: center;

		@media($media_sm2) {
			justify-content: space-between;
		}
	}

	&--teacher {
		margin-top: 10px;

		@media($media_sm2) {
			display: block;
		}
	}

	&--progress {
		@media($media_sm2) {
			display: block;
		}
	}
}

.modal--final-result__category {
	margin: 0 10px;
}

// diagram
.diagram {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background: rgba(192, 210, 225, 0.7);
	position: relative;
	overflow: hidden;
}

.diagram::before {
	content: '';
	display: block;
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	border-radius: 50%;
	background: $white;
	z-index: 3;
	opacity: 1;
}

.diagram .piece {
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	overflow: hidden;
	position: absolute;
}

.diagram .piece::before {
	content: '';
	display: block;
	position: absolute;
	width: 50%;
	height: 100%;
}

.diagram .piece.left {
	transform: rotate(200deg);
	z-index: 2;
	border-radius: 50%;
	/* only FireFox < 75.0v (fix bug)*/
}

.diagram.over_50 .piece.left {
	transform: rotate(180deg);
}

.diagram .piece.right {
	transform: rotate(180deg);
	z-index: 1;
	border-radius: 50%;
	/* only FireFox < 75.0v (fix bug)*/
}

.diagram.over_50 .piece.right {
	transform: rotate(360deg);
}

.diagram .left::before {
	background: $red;
}

.diagram.over_50 .left::before {
	background: rgba(192, 210, 225, 0.7);
}

.diagram .right::before {
	background: $red;
}

.diagram .text {
	@include font('sf-ui', 600);

	position: absolute;
	z-index: 3;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 22px;
	color: $gray;
}

//modal--final-result__evaluation
.modal--final-result__evaluation {
	margin-top: 35px;
}

.modal--final-result__evalution__item {
	margin-right: 70px;
	cursor: pointer;

	&:last-child {
		margin-right: 0;
	}

	p {
		@include font('sf-ui', 600);
		margin-top: 15px;
		font-size: 12px;
	}

	@media($media_sm2) {
		margin: 0;
	}
}

.modal--final-result-evalution2-inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 30px;
	grid-row-gap: 15px;

	@media($media_sm) {
		display: block;
	}
}

.evalution2__item {
	display: flex;
	align-items: center;
	justify-content: space-between;

	font-size: 14px;

	@media($media_sm) {
		margin: 0 auto 10px;
		width: 70%;

		&:last-child {
			margin-bottom: 0;
		}
	}

	@media($media_xs) {
		width: 100%;
	}
}

.final-result__teacher-points {
	position: relative;
	display: flex;
	align-items: center;
}

.final-result--teacher__item {
	width: 100%;
	margin-bottom: 35px;

	&:last-child {
		margin-bottom: 0;
	}
}