*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
}

input:focus,
textarea:focus {
	outline: 0;
}

a {
	text-decoration: none;
}

button {
	border: 0;
	background: none;
	cursor: pointer;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}