// colors
$white: #fff;
$black: #0D0D0D;
$black2: #000;
$gray: #808080;
$gray_light: #F8F8F8;
$gray_light2: #C4C4C4;;
$red: #FF0000;
$red2: #D44105;
$red_dark: #791616;
$red_light: #F5CCC4;
$red__light2: #E2AEA3;
$blue_light: #598AEB;
$purple_light: #D3B6B0;
$pink: #F47090;
$pink2: #F9B7C7;;
$pink_light: #F0A993;
$pink_dark: #D5ADAD;;
$brown: #B86756;
$brown_light: #D39494;

// media
$media_xxxl: 'max-width: 1400px';
$media_xxl: 'max-width: 1300px';
$media_xl: 'max-width: 1200px';
$media_lg: 'max-width: 1100px';
$media_lg2: 'max-width: 1000px';
$media_md: 'max-width: 800px';
$media_md2: 'max-width: 700px';
$media_sm: 'max-width: 600px';
$media_sm2: 'max-width: 500px';
$media_xs: 'max-width: 400px';