.shop__content {
	display: flex;
	justify-content: space-between;

	@media($media_md2) {
		padding: 0 15px;
	}
}

.shop__content-inner {
	flex-grow: 1;
	margin-top: 50px;
}

.shop__cart {
	background: $white;
	box-shadow: 0px 4px 10px rgba(128, 128, 128, 0.2);
	border-radius: 20px;
	padding: 25px;

	margin: 50px 0 0 35px;
	flex-basis: 40%;

	@media($media_xl) {
		margin: 50px 0 0 15px;
		padding: 20px 15px;
	}

	@media($media_md) {
		margin: 50px 0 0 10px;
		padding: 15px 5px 15px 10px;
	}

	@media($media_md2) {
		display: none;
	}
}

.cart__header {
	display: flex;
	justify-content: space-between;
}

.cart__svg {
	width: 20px;
	height: 20px;

	.cart__path {
		fill: $white;
	}
}

.cart__number {
	border-left: 1.5px solid rgba($gray, .1);
	padding-left: 10px;
	margin-left: 5px;
}

.cart__content {
	padding-right: 5px;
	flex-grow: 1;
	max-height: 440px;
	overflow-y: auto;

	margin-top: 25px;

	/* width */
	&::-webkit-scrollbar {
		width: 5px;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background: rgba(128, 128, 128, 0.1);
		border-radius: 40px;
	}
}

.cart__item {
	background: $gray_light;
	border-radius: 15px;

	padding: 15px;
	margin-bottom: 20px;

	&--total {
		margin-top: 30px;
		padding-bottom: 25px;
	}

	@media($media_md) {
		padding: 10px;
	}
}

.cart__item-content {
	display: flex;
	align-items: flex-start;

	border-bottom: 2px solid $white;
	padding-bottom: 15px;
	margin-bottom: 15px;

	&--total {
		justify-content: space-between;
	}
}

.cart__item-amount {
	@include font('sf-ui', 500);
	color: $gray;
	font-size: 12px;
}

.cart__item-img {
	background: $white;
	border-radius: 10px;
	padding: 5px 10px;
	margin-right: 10px;
	width: 65px;
	height: 65px;

	img {
		max-height: 100%;
	}
}

.cart__item-title {
	@include font('sf-ui', 500);
	font-size: 12px;

	margin-bottom: 7px;
}

.cart__item-price {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cart__item-controls {
	display: flex;
	align-items: center;
}

.amount__controls {
	display: flex;
	align-items: center;
	padding: 3px 10px;
	margin-right: 15px;

	background: $white;
	border-radius: 10px;

	color: $gray;
	font-size: 12px;

	button {
		color: $gray;
		font-size: 13px;
	}

	@media($media_lg) {
		margin-right: 0;
		padding: 3px;
	}
}

.amount__number {
	margin: 0 13px;

	@media($media_md) {
		margin: 0 8px;
	}
}

.cart__btn {
	background: $red;
	box-shadow: 0px 4px 10px rgba(164, 164, 164, 0.2);
	border-radius: 10px;
	padding: 10px 15px;
	margin: 0 auto;

	color: $white;

	display: flex;
	align-items: center;

	&--about {
		margin: 0 auto 35px;
	}
}

.cart__bin {
	width: 19px;
	height: 19px;

	margin-left: 10px;
}

.total__title {
	@include font('sf-ui', 600);
	font-size: 20px;
}

.total__price {
	@include font('sf-ui', 700);
	font-size: 16px;
}

.shop__cart-sm {
	background: $white;
	border-top: 1.5px solid $gray_light;
	padding: 10px 35px;

	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	display: none;

	@media($media_md2) {
		display: flex;
	}
}

.cart-sm__btn {
	background: rgba($red, .8);
	border-radius: 10px;
	padding: 15px;
	align-items: center;
	justify-content: space-between;

	@include font('sf-ui', 600);
	font-size: 20px;
	color: $white;

	cursor: pointer;

	@media($media_xs) {
		font-size: 15px;
	}

	.controls__item {
		margin: 0;
	}
}

.cart-sm__p {
	margin-left: 10px;
}

.cart-sm__inner {
	display: flex;
	align-items: center;
}

// slider
.shop__slider {
	height: 117px;
	margin-top: 35px;
	padding: 0 0 0 35px;
	overflow: auto;
	display: none;

	&.active {
		@media($media_md2) {
			display: flex;
		}
	}
}

.shop-slider__item {
	border-radius: 15px;
	overflow: hidden;
	position: relative;
	margin-right: 25px;
	min-width: 236px;
	padding: 70px 20px 0 20px;

	cursor: pointer;

	&:after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 5;
		top: 0;
		left: 0;
		background: rgba(241, 220, 213, 0.4);
	}

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 236px;
		height: 117px;
	}

	p {
		position: relative;
		z-index: 4;

		@include font('sf-ui', 700);
		font-size: 22px;
	}
}