body {
	@include font('sf-ui', 700);
	overflow-x: hidden;
}

a,
button {
	@include font('sf-ui', 700);
	color: $black;
}

.page {
	@include bg('../img/red-bg.jpg');

	min-height: 100vh;
	width: 100%;

	display: flex;
	overflow: hidden;

	padding: 20px 20px 20px 10px;

	@media($media_xl) {
		padding: 20px 10px;
	}

	@media($media_lg2) {
		padding: 0;
	}
}

.content {
	flex-grow: 1;

	background: $white;
	box-shadow: 0px 4px 20px rgba(128, 128, 128, 0.2);
	border-radius: 30px;

	padding: 10px 70px 30px;

	@media($media_xxl) {
		padding: 10px 40px 30px;
	}

	&--lessons {
		@media($media_xxxl) {
			padding: 10px 30px 30px;
		}

		@media($media_xxl) {
			width: 100%;
		}
	}

	@media($media_xl) {
		padding: 10px 20px 30px;
	}

	@media($media_lg2) {
		width: 100%;
		border-radius: 0;
	}

	@media($media_md) {
		padding: 10px;
	}

	@media($media_sm) {
		padding: 0;
	}

	&--shop {
		@media($media_md2) {
			padding-bottom: 80px;
		}

		@media($media_sm) {
			padding: 0 0 80px;
		}
	}
}

.active-body {
	overflow: hidden;
}