@font-face {
	font-family: 'sf-ui';
	src: url('../fonts/sf-ui-display-medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'sf-ui';
	src: url('../fonts/sf-ui-display-semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'sf-ui';
	src: url('../fonts/sf-ui-display-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'sf-ui';
	src: url('../fonts/sf-ui-display-black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'nunito-san';
	src: url('../fonts/NunitoSans-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}